.blog-details {

    & .center-container {
        position: relative;
        height: 100%;

        & .linear {
            height: 160%;
        }
    }

    &__header-img {
        position: relative;
        margin-bottom: 200px;
        height: 350px;
        background-image: url(../styles/img/blog-details/blog-details-header.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}