/* jost-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    src: url('../styles/fonts/jost-v15-latin-regular.woff2') format('woff2');
}

/* jost-500 - latin */
@font-face {
    font-display: swap;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    src: url('../styles/fonts/jost-v15-latin-500.woff2') format('woff2');
}

/* dm-serif-display-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    src: url('../styles/fonts/dm-serif-display-v15-latin-regular.woff2') format('woff2');
}

/* dm-serif-display-italic - latin */
@font-face {
    font-display: swap;
    font-family: 'DM Serif Display';
    font-style: italic;
    font-weight: 400;
    src: url('../styles/fonts/dm-serif-display-v15-latin-italic.woff2') format('woff2');
}