* {
    margin: 0;
    padding: 0;
    color: $main-text-color;
    font-family: $main-font-family;
    font-weight: 400;
    box-sizing: border-box;
}

body {
    position: relative;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $second-font-family;
    color: $header-text-color;
}

ul {
    list-style-type: none;
}

img {
    width: 100%;
}