.projects-card {
    max-width: 550px;

    &__img {
        margin-bottom: 24px;
    }

    &__description {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    &__title {
        margin-bottom: 4px;
        font-size: 25px;
        letter-spacing: 0.02em;
    }

    &__type {
        font-size: 22px;
        letter-spacing: 0.01em;
    }

    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70px;
        height: 70px;
        background-color: $main-color;
        border-radius: 100%;
        transition: all .5s;

        &:hover {
            background-color: $second-color;
        }

        & svg {
            margin-left: 5px;
        }
    }
}