$main-color: #F4F0EC;
$second-color: #CDA274;
$btn-color: #292F36;
$btn-hover: #4D5053;
$header-text-color: #292F36;
$main-text-color: #4D5053;
$black-color: #000;
$white-color: #fff;

$main-font-family: 'Jost', serif;
$second-font-family: 'DM Serif Display', serif;

$screen-xmd: 1094px;
$screen-md: 767px;
$screen-sm: 360px;